<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Power</th>
      <th>Speed</th>
      <th>Hp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% if !@players.first.nil? %>
    <tbody>
      <tr>
        <td><%= @players.first.power %></td>
        <td><%= @players.first.speed %></td>
        <td><%= @players.first.hp %></td>
        <td><%= link_to 'Show', player_path(@players.first) %></td>
        <td><%= link_to 'Edit', edit_player_path(@players.first) %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<br>
<% if @players.count < 1 %>
  <%= link_to 'New Player', new_player_path %>
<% end %>
<br>
<%= link_to '戻る', root_path %>
