<p id="notice"><%= notice %></p>

<p>
  <strong>Power:</strong>
  <%= @player.power %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @player.speed %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @player.hp %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
