<div class="nested-fields">
  <div class="field">
    <%= f.label :enemy_actions %>
    <%= f.number_field :execution, id: :enemy_action_execution %>
    <%= f.select :character, {"自分" => 0, "勇者" => 1}, class: 'form-control' %>
    <%= f.select :parameter, {"HP" => 0, "MP" => 1}, class: 'form-control' %>
    <%= f.select :value, (0..100).to_a.map{|n| [n, n]}, class: 'form-control' %>
    <%= f.select :comparison, (0..100).to_a.map{|n| [n, n]}, class: 'form-control' %>
    <%= f.select :action,  {"勇者を攻撃" => 0, "スキル" => 1, "勇者から25M離れる" => 2, 
			    "勇者から50M離れる" => 3, "勇者から75M離れる" => 4}, class: 'form-control' %>
  </div>
  <%= link_to_remove_association "remove action", f %>
</div>

