<%= form_for @enemy do |f| %>
  <div class="field">
    <%= f.label :power %>
    <%= f.number_field :power, id: :enemy_power %>
  </div>

  <div class="field">
    <%= f.label :speed %>
    <%= f.number_field :speed, id: :enemy_speed %>
  </div>

  <div class="field">
    <%= f.label :hp %>
    <%= f.number_field :hp, id: :enemy_hp %>
  </div>

  <div class="field">
    <%= f.label :mp %>
    <%= f.number_field :mp, id: :enemy_mp %>
  </div>
  
<div class="field">
    <%= f.label :skill %>
    <%= f.number_field :skill, id: :enemy_skill %>
  </div>
 
  <h3>Actions</h3>
  <div id="actions">
    <%= f.fields_for :actions do |action| %>
      <%= render 'action_fields', f: action %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add action', f, :actions %>
    </div>
  </div>

  <%= enemy.power %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
