<%= form_with(model: enemy, local: true) do |form| %>
  <% if enemy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enemy.errors.count, "error") %> prohibited this enemy from being saved:</h2>

      <ul>
      <% enemy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personality %>
    <%= form.select :personality, EnemyPersonalityModule::PERSONALITY_KIND, id: :enemy_personality %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.text_field :power, id: :enemy_power %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.text_field :speed, id: :enemy_speed %>
  </div>

  <div class="field">
    <%= form.label :hp %>
    <%= form.text_field :hp, id: :enemy_hp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
