<p id="notice"><%= notice %></p>

<p>
  <strong>Personality:</strong>
  <%= EnemyPersonalityModule::PERSONALITY_KIND.invert[@enemy.personality] %>
</p>

<p>
  <strong>Power:</strong>
  <%= @enemy.power %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @enemy.speed %>
</p>

<p>
  <strong>hp:</strong>
  <%= @enemy.hp %>
</p>

<%= link_to 'Edit', edit_enemy_path(@enemy) %> |
<%= link_to 'Back', enemies_path %>
